<app-header [pageTitle]="pageTitle" [pageIcon]="pageIcon"></app-header>

<ion-content>
    
    <ion-card style="background-color: red;">
        <img alt="Manual del jugador" src="../../../assets/Img/PlayerHandsbook.png" />
        <ion-card-header>
          <ion-card-title style="color: black;">Manual del jugador 5e</ion-card-title>
          <ion-card-subtitle style="color: black;">Leelo, el dm no tendrá piedad</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
         <h3 style="color: black;"> Acá encontrarás toda la información disponible para el juego. Acuerdate de leerlo!
            Los DM'S no tendrán piedad.</h3>
        </ion-card-content>
      </ion-card>
    
</ion-content>
